In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('dataset.xlsx')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   n                             730 non-null    int64
 1   m                             730 non-null    int64
 2   Routing function              730 non-null    object
 3   Virtual channels number       730 non-null    int64
 4   Virtual chanel buffer size    730 non-null    int64
 5   Optimal data generation rate  730 non-null    float64
 6   Optimal throughput value      730 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 40.0+ KB

In [ ]:
df.loc[df['Routing function'] == 'dim_order', 'Routing function'] = 1
df.loc[df['Routing function'] == 'dor', 'Routing function'] = 0

In [ ]:
df = df.astype({'Routing function': int})

In [ ]:
df

,n,m,Routing function,Virtual channels number,Virtual chanel buffer size,Optimal data generation rate,Optimal throughput value
0,2,1,1,1,1,0.30,0.296800
1,2,1,1,1,2,0.50,0.513934
2,2,1,1,1,3,0.90,0.820966
3,2,1,1,1,4,1.10,1.053134
4,2,1,1,2,1,0.30,0.288534
...,...,...,...,...,...,...,...
725,9,2,0,3,4,20.25,20.305242
726,9,2,0,4,1,12.15,12.081393
727,9,2,0,4,2,20.25,20.297304
728,9,2,0,4,3,20.25,20.275677
729,9,2,0,4,4,28.35,26.124444

In [ ]:
df.to_csv('dataset2.csv', index=False)